body {
  background-color: #260126;
  color: #BFAF80;
  margin: 0;
}
a {
  color: #BFAF80;
  text-decoration: none;
}
section {
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
  align-items: center;
  height: 99vh;
}
ul {
  list-style: none;
  padding: 0;
}
li:hover {
  text-transform: underline;
}